<h1 id="tableLabel">Policies</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!policies"><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>

<table class="table table-striped" *ngIf="policies">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Effective Date</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let policy of policies">
            <td>{{ policy.id }}</td>
            <td>{{ policy.name }}</td>
            <td>{{ policy.policyTypeName }}</td>
            <td>{{ policy.effectiveDate | date }}</td>
            <td>{{ policy.expiryDate | date }}</td>
        </tr>
    </tbody>
</table>
