.footer {
  background-color: var(--primary-color);
  color: white;
}

.copyright {
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}



@media (max-width: 767px) {
  .footer-logo, .copyright, .footer-links {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
